<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/reservations/pizze-rosse">Pizze rosse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reservations/pizze-bianche"
      >Pizze bianche</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reservations/focacce">Focacce</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      routerLink="/reservations/bevande"
      >Bevande</a
    >
  </li>
</ul>

<app-search-bar></app-search-bar>