body {
  min-height: 100vh;
}
app-component {
  min-height: 100vh;
}
#app-reservations {
  min-height: calc(100vh - 56px - 120.28);
  margin-bottom: 80px;
}
.flag {
  background: rgb(14, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(14, 255, 0, 0.68968837535014) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 0, 0, 0.47960434173669464) 100%
  );
}
app-reservations a:hover {
  cursor: pointer; /* Imposta il cursore su "pointer" (mano) */
}
.card {
  height: 100%;
}
.card .card-footer {
  border-top: 0;
}
app-reservations {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
app-reservations .container-fluid {
  min-height: calc(100vh - 56px - 106.6px - 2rem);
}
app-reservations .col-lg-9 {
  min-height: calc(100vh - 56px - 110px - 2rem);
}
